<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- this from will send the inputs to the fpost address
so we need to 
1.create a metohd so it can access the inputs 
2. and we need to create a class to store the inputs 
 -->
<form method="post" action="Fpost" >
id: <input type="number" name="id"><br>
prefix: <input type="text" name="prefix"><br>
code: <input type="number" name="code"><br>
name: <input type="text" name="name"><br>
submit <input type="submit" value="GO">
</form>
</body>
</html>